<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width", initial-scale=1.0, shrink-to-fit=no>
    <title>Deliver</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-white"> 
    <div class="container mx-auto my-5 px-4 py-8">
        <h1 class="text-3xl  bg-gray-100 text-center font-bold mb-4">Order Page</h1>
        <div class="flex justify-center mt-1">
            <div class="w-full p-4 bg-white rounded-lg shadow-md">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mt-5">
                        {% for app in appetizers %}
                        <div class="flex flex-row items-center">
                            <div class="w-1/6">
                                <img class="rounded" src="{{ app.image.url }}" width="150" height="100"/>
                            </div>
                            <div class="w-5/6">
                                <div class="flex flex-row items-center">
                                    <div class="flex items-center">
                                        <input type="checkbox" name="items[]" class="form-checkbox h-5 w-5 text-gray-600" value="{{ app.pk }}">
                                        <label class="ml-2 text-gray-700">{{ app.name }}</label>
                                    </div>
                                    <p class="font-bold pl-5 text-gray-800">{{ app.price }}</p>
                                </div>
                                <p class="text-gray-600">{{ app.description }}</p>
                            </div>
                        </div>
                        <hr class="my-4" />
                        {% endfor %}
                    </div>

                    <div class="mt-5">
                        {% for entre in entres %}
                        <div class="flex flex-row items-center">
                            <div class="w-1/6">
                                <img class="rounded" src="{{ entre.image.url }}" width="150" height="100"/>
                            </div>
                            <div class="w-5/6">
                                <div class="flex flex-row items-center">
                                    <div class="flex items-center">
                                        <input type="checkbox" name="items[]" class="form-checkbox h-5 w-5 text-gray-600" value="{{ entre.pk }}">
                                        <label class="ml-2 text-gray-700">{{ entre.name }}</label>
                                    </div>
                                    <p class="font-bold pl-5 text-gray-800">{{ entre.price }}</p>
                                </div>
                                <p class="text-gray-600">{{ entre.description }}</p>
                            </div>
                        </div>
                        <hr class="my-4" />
                        {% endfor %}
                    </div>

                    <div class="mt-5">
                        {% for dessert in desserts %}
                        <div class="flex flex-row items-center">
                            <div class="w-1/6">
                                <img class="rounded" src="{{ dessert.image.url }}" width="150" height="100"/>
                            </div>
                            <div class="w-5/6">
                                <div class="flex flex-row items-center">
                                    <div class="flex items-center">
                                        <input type="checkbox" name="items[]" class="form-checkbox h-5 w-5 text-gray-600" value="{{ dessert.pk }}">
                                        <label class="ml-2 text-gray-700">{{ dessert.name }}</label>
                                    </div>
                                    <p class="font-bold pl-5 text-gray-800">{{ dessert.price }}</p>
                                </div>
                                <p class="text-gray-600">{{ dessert.description }}</p>
                            </div>
                        </div>
                        <hr class="my-4" />
                        {% endfor %}
                    </div>

                    <div class="mt-5">
                        {% for drink in drinks %}
                        <div class="flex flex-row items-center">
                            <div class="w-1/6">
                                <img class="rounded" src="{{ drink.image.url }}" width="150" height="100"/>
                            </div>
                            <div class="w-5/6">
                                <div class="flex flex-row items-center">
                                    <div class="flex items-center">
                                        <input type="checkbox" name="items[]" class="form-checkbox h-5 w-5 text-gray-600" value="{{ drink.pk }}">
                                        <label class="ml-2 text-gray-700">{{ drink.name }}</label>
                                    </div>
                                    <p class="font-bold pl-5 text-gray-800">{{ drink.price }}</p>
                                </div>
                                <p class="text-gray-600">{{ drink.description }}</p>
                            </div>
                        </div>
                        <hr class="my-4" />
                        {% endfor %}
                    </div>

                    <button class="bg-gray-800 text-white py-2 px-4 mt-5 rounded">Place Order!</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
