<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width", initial-scale=1.0, shrink-to-fit=no>
    <title>Order confirmation Page</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="flex flex-col min-h-screen"> 
    <header class="text-center font-light text-white py-6 bg-slate-700 text-4xl">Order Confirmation</header>
    <div class="mb-5 flex-grow">
        <div class="flex justify-center mt-1">
            <div class="md:w-5/12 sm:w-full text-center">
                <h1 class="text-3xl font-bold">Order Submitted!</h1>
                <p class="mt-4">You should receive a confirmation email soon.</p>
                <a href="{% url 'order' %}" class="mt-4 text-blue-500 hover:text-blue-700">Return to Dashboard</a>
            </div>
        </div>

        <div class="flex justify-center mt-5">
            <div class="col-md-5 col-sm-12 text-center">
                <h3 class="pb-3 text-xl font-bold">Order Summary:</h3>
                {% for item in items.all %}
                    <p>{{ item.name }}: <span class="pl-3 my-16">{{ item.price }}</span></p>
                {% endfor %}

                <p class="font-bold pt-4">Total: {{ price }}</p>
            </div>
        </div>
        <div class="flex justify-center mt-10">
            <div class="md:w-1/2 text-center">
                <h3 class="text-xl">Pay now or Pay With Cash On Delivery?</h3>
            </div>
        </div>
        <div class="flex justify-center mt-4">
            <div class="md:w-1/2 text-center">
                <div id="paypal-button"></div>
            </div>
        </div>
    </div>
    <footer class="text-center font-light py-4 bg-slate-700 text-sm text-white">Copyright &copy 2023 Belema. All Rights Reserved.</footer>


    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        paypal.Button.render({
            // Configure environment
            env: 'sandbox',
            client: {
            sandbox: 'demo_sandbox_client_id',
            production: 'demo_production_client_id'
            },
            // Customize button (optional)
            locale: 'en_NG',
            style: {
            size: 'medium',
            color: 'gold',
            shape: 'pill',
            },

            // Enable Pay Now checkout flow (optional)
            commit: true,

            // Set up a payment
            payment: function(data, actions) {
            return actions.payment.create({
                transactions: [{
                amount: {
                    total: '{{ price }}',
                    currency: 'NGN'
                }
                }]
            });
            },
            // Execute the payment
            onAuthorize: function(data, actions) {
            return actions.payment.execute().then(function() {
                // Show a confirmation message to the buyer
                $.ajax({
                    type: 'POST',
                    url: '{% url 'order-confirmation' pk %}',
                    beforeSend: function(request) {
                        request.setRequestHeader('X-CSRFToken', csrftoken)
                    },
                    data: JSON.stringify({'is_paid': true})
                    success: function(data) {
                        window.location.href = '/payment-confirmation/'
                    }
                })
            });
            }
        }, '#paypal-button');

    </script>
</body>
</html>    

