<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width", initial-scale=1.0, shrink-to-fit=no>
    <title>Order</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body> 
    <header class="text-center font-light py-6 bg-slate-700 text-white text-sm">All the meals you need!</header>
    <div class="container mx-auto mb-5 bg-white">
        <div class="flex justify-center mt-1">
            <div class="w-full p-4 flex-1">
                <form method="POST" id="orderForm">
                    {% csrf_token %}
                    <div class="pt-5">
                        {% for app in appetizers %}
                        <div class="flex flex-row">
                            <div class="w-1/6">
                                <img class="rounded" src="{{ app.image.url }}" width="150" height="100"/>
                            </div>
                            <div class="w-5/6">
                                <div class="flex flex-row">
                                    <div class="form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input" value="{{ app.pk }}">
                                        <label class="form-check-label">{{ app.name }}</label>
                                    </div>
                                    <p class="font-bold pl-5">{{ app.price }}</p>
                                </div>
                                <p>{{ app.description }}</p>
                            </div>
                        </div>
                        <hr class="my-4 border-t-2 border-gray-500" />
                        {% endfor %}
                    </div>

                    <div class="pt-5">
                        {% for entre in entres %}
                        <div class="flex flex-row mt-4">
                            <div class="w-1/6">
                                <img class="rounded" src="{{ entre.image.url }}" width="150" height="100"/>
                            </div>
                            <div class="w-5/6">
                                <div class="flex flex-row">
                                    <div class="form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input" value="{{ entre.pk }}">
                                        <label class="form-check-label">{{ entre.name }}</label>
                                    </div>
                                    <p class="font-bold pl-5">{{ entre.price }}</p>
                                </div>
                                <p>{{ entre.description }}</p>
                            </div>
                        </div>
                        <hr class="my-4 border-t-2 border-gray-500" />
                        {% endfor %}
                    </div>

                    <div class="pt-5">
                        {% for dessert in desserts %}
                        <div class="flex flex-row mt-4">
                            <div class="w-1/6">
                                <img class="rounded" src="{{ dessert.image.url }}" width="150" height="100"/>
                            </div>
                            <div class="w-5/6">
                                <div class="flex flex-row">
                                    <div class="form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}">
                                        <label class="form-check-label">{{ dessert.name }}</label>
                                    </div>
                                    <p class="font-bold pl-5">{{ dessert.price }}</p>
                                </div>
                                <p>{{ dessert.description }}</p>
                            </div>
                        </div>
                        <hr class="my-4 border-t-2 border-gray-500" />
                        {% endfor %}
                    </div>

                    <div class="pt-5">
                        {% for drink in drinks %}
                        <div class="flex flex-row mt-4">
                            <div class="w-1/6">
                                <img class="rounded" src="{{ drink.image.url }}" width="150" height="100"/>
                            </div>
                            <div class="w-5/6">
                                <div class="flex flex-row">
                                    <div class="form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                        <label class="form-check-label">{{ drink.name }}</label>
                                    </div>
                                    <p class="font-bold pl-5">{{ drink.price }}</p>
                                </div>
                                <p>{{ drink.description }}</p>
                            </div>
                        </div>
                        <hr class="my-4 border-t-2 border-gray-500" />
                        {% endfor %}
                    </div>

                    
                    <div class="pt-3">
                        <label for="name" class="block">Full Name:</label>
                        <input type="text" name="name" class="w-full border border-gray-300 py-1 pl-3" placeholder="Your name" required>
                    </div>
                    <div class="pt-3">
                        <label for="email" class="block">Email:</label>
                        <input type="email" name="email" class="w-full border border-gray-300 py-1 pl-3" placeholder="someone@example.com" required>
                    </div>
                    <div class="pt-3">
                        <label for="street" class="block">Street:</label>
                        <input type="text" name="street" class="w-full border border-gray-300 py-1 pl-3" placeholder="1234 Main St." required>
                    </div>

                    <div>
                        <nav class="flex">
                            <li class="list-none inline-block mr-7">
                                <div class="pt-3">
                                    <label for="city" class="block">City:</label>
                                    <input type="text" name="city" class="w-96 border border-gray-300 py-1 pl-3" placeholder="Ikeja" required>
                                </div>
                            </li>
                            <li class="list-none inline-block mx-7">
                                <div class="pt-3">
                                    <label for="state" class="block">State:</label>
                                    <input type="text" name="state" class="w-96 border border-gray-300 py-1 pl-3" placeholder="Lagos" required>
                                </div>
                            </li>
                            <li class="list-none inline-block ml-7">
                                <div class="pt-3">
                                    <label for="zip_code" class="block">Zip Code:</label>
                                    <input type="text" name="zip_code" class="w-96 border border-gray-300 py-1 pl-3" placeholder="******" required>
                                </div>
                            </li>
                        </nav>
                    </div> 
                          
                    <div class="flex">
                        <button id="triggerBtn" type="submit" class="bg-black text-gray-100 px-7 py-2 text-xs font-serif mt-14 shadow-lg">SUBMIT ORDER!</button>
                    </div> 

                
                     <!-- alert container -->
                    <div id="alertContainer" class="fixed inset-0 items-center justify-center hidden">
                        <div class="bg-slate-700 shadow-lg p-4">
                        <div class="mb-4">
                            <h3 class="text-lg font-bold text-white">Submit Your Order!</h3>
                        </div>
                        <div class="flex justify-end">
                            <button id="noBtn" class="px-4 py-2 bg-white shadow-xl text-black rounded mx-4">Go Back</button>
                            <button id="yesBtn" type="submit" class="px-4 py-2 bg-black shadow-xl text-white rounded mr-2 mx-4">Place Order</button>
                        </div>
                        </div>
                    </div>

                </form>
                
            </div>
        </div>
    </div>

    <footer class="text-center font-light py-4 bg-slate-700 text-sm text-white">Copyright &copy 2023 Belema. All Rights Reserved.</footer>


    <script>
        const triggerBtn = document.getElementById('triggerBtn');
        const alertContainer = document.getElementById('alertContainer');
        const noBtn = document.getElementById('noBtn');
        const yesBtn = document.getElementById('yesBtn');
    
        // Show the alert when the trigger button is clicked
        triggerBtn.addEventListener('click', () => {
        alertContainer.classList.remove('hidden');
        });
    
        yesBtn.addEventListener('click', () => {
        window.location.href = 'order-confirmation';
        }); 
    
        noBtn.addEventListener('click', () => {
        alertContainer.classList.add('hidden');
        }); 
    </script> 

</body>
</html>


    {% comment %} document.getElementById('triggerBtn').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent default form submission behavior
      
        // Show the alert dialog
        if (confirm('Are you sure you want to proceed?')) {
          // Manually submit the form
          document.getElementById('orderForm').submit();
        }
      }); {% endcomment %}
      



