<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width", initial-scale=1.0, shrink-to-fit=no>
    <title>Deliver</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body> 
    <div class="container mx-auto mb-5">
        <div class="flex justify-center mt-1">
            <div class="w-full p-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="pt-5">
                        {% for app in appetizers %}
                        <div class="flex flex-row">
                            <div class="w-1/6">
                                <img class="rounded" src="{{ app.image.url }}" width="150" height="100"/>
                            </div>
                            <div class="w-5/6">
                                <div class="flex flex-row">
                                    <div class="form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input" value="{{ app.pk }}">
                                        <label class="form-check-label">{{ app.name }}</label>
                                    </div>
                                    <p class="font-bold pl-5">{{ app.price }}</p>
                                </div>
                                <p>{{ app.description }}</p>
                            </div>
                        </div>
                        <hr class="my-4" />
                        {% endfor %}
                    </div>

                    <div class="pt-5">
                        {% for entre in entres %}
                        <div class="flex flex-row mt-4">
                            <div class="w-1/6">
                                <img class="rounded" src="{{ entre.image.url }}" width="150" height="100"/>
                            </div>
                            <div class="w-5/6">
                                <div class="flex flex-row">
                                    <div class="form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input" value="{{ entre.pk }}">
                                        <label class="form-check-label">{{ entre.name }}</label>
                                    </div>
                                    <p class="font-bold pl-5">{{ entre.price }}</p>
                                </div>
                                <p>{{ entre.description }}</p>
                            </div>
                        </div>
                        <hr class="my-4" />
                        {% endfor %}
                    </div>

                    <div class="pt-5">
                        {% for dessert in desserts %}
                        <div class="flex flex-row mt-4">
                            <div class="w-1/6">
                                <img class="rounded" src="{{ dessert.image.url }}" width="150" height="100"/>
                            </div>
                            <div class="w-5/6">
                                <div class="flex flex-row">
                                    <div class="form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input" value="{{ dessert.pk }}">
                                        <label class="form-check-label">{{ dessert.name }}</label>
                                    </div>
                                    <p class="font-bold pl-5">{{ dessert.price }}</p>
                                </div>
                                <p>{{ dessert.description }}</p>
                            </div>
                        </div>
                        <hr class="my-4" />
                        {% endfor %}
                    </div>

                    <div class="pt-5">
                        {% for drink in drinks %}
                        <div class="flex flex-row mt-4">
                            <div class="w-1/6">
                                <img class="rounded" src="{{ drink.image.url }}" width="150" height="100"/>
                            </div>
                            <div class="w-5/6">
                                <div class="flex flex-row">
                                    <div class="form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                        <label class="form-check-label">{{ drink.name }}</label>
                                    </div>
                                    <p class="font-bold pl-5">{{ drink.price }}</p>
                                </div>
                                <p>{{ drink.description }}</p>
                            </div>
                        </div>
                        <hr class="my-4" />
                        {% endfor %}
                    </div>

                    <button class="bg-yellow-300 px-2 py-2 rounded-2xl font-bold mt-5">Place Order!</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
